/* I changed img width and all changes of image using bootstrap */
/* .img{
    width: 40rem;
    height: auto;
} */

/* .text-center {
    text-align: center;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #7175da
}

.text-center {
    text-align: center;
}

.text-start {
    margin-left: 0px;
    padding-left: 0px;
}

.font-weight {
    font-weight: bolder;
}